<div class="grid grid-cols-12 gap-4 lg:gap-8">
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">inventory</mat-icon>
    <h6>Number of Items</h6>
    <div class="count mb-3 mt-5">{{ articlesCount }}</div>
    <a [routerLink]="'/dashboard/saved-items'" class="font-semibold" mat-flat-button color="warn">View All</a>
  </div>
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">sync</mat-icon>
    <h6>Ongoing Orders</h6>
    <div class="count mb-3 mt-5">{{ processingOrdersCount }}</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">View All</a>
  </div>
  
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">task_alt</mat-icon>
    <h6>Completed Orders</h6>
    <div class="count mb-3 mt-5">{{ completedOrdersCount }}</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">View All</a>
  </div>
  
</div>

<div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8">
  
  <!-- Subcategory Doughnut Chart -->
<div class="border rounded p-4 lg:p-8 mt-8">
  <h6 class="mb-4">Articles by Subcategory</h6>
  <div class="chart-container" style="position: relative; height: 300px; width: 100%;">
    <canvas #scategoryDoughnutChart></canvas>
  </div>
</div>
  <!-- Bar Chart -->
  <div class="border rounded p-4 lg:p-8">
    <h6 class="mb-4">Monthly Order Statistics</h6>
    <div class="chart-container" style="position: relative; height: 300px; width: 100%;">
      <canvas #barChart></canvas>
    </div>
  </div>
<!-- Doughnut Chart -->
<div class="border rounded p-4 lg:p-8">
  <h6 class="mb-4">Articles by Category</h6>
  <div class="chart-container" style="position: relative; height: 300px; width: 100%;">
    <canvas #doughnutChart></canvas>
  </div>
</div>

</div>